<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="DBCS" connectionString="data source=.; database=krishna;  user id=testuser; password=test" />
	</connectionStrings>
  <system.web>
	  <authentication mode="Forms">
		  <forms loginUrl="Login.aspx" timeout="30" defaultUrl="Welcome.aspx" protection="All">
			  <credentials passwordFormat="Clear">
				  <user name="Krishna" password="Krishna"/>
				  <user name="Moorthy" password="Moorthy"/>
			  </credentials>
		  </forms>
	  </authentication>
 
	  <authorization>
		  <deny users="?" />		  
	  </authorization>
  </system.web>
</configuration>